<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/usershome">Go Home</a>
    <h1>Book Slot</h1>
    <form action="/books"   method="post" id="books">
        <label>YourName</label>
        <input type="text" name="username" value=""/><br>
        <label>Mobile</label>
        <input type="number" name="mobileno" value=""/><br>
        <label>CentreName</label>
        <input type="text" name="centrename" value=""/><br>
        <label>CentrePlace</label>
        <input type="text" name="place" value=""/><br>
        <label> choose Date </label>
        <input type="date" name="date" value=""/><br>
    
        <button type="submit">Book Slot</button>
          
    </form>
</body>
</html>