<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup</title>
</head>
<body>
    <form method="post" action="/users">
        <label>NAME</label>
        <input type="text" name="name" id="name"/>
        <label>EMAIL</label>
        <input type="text" name="email" value=""/><br>
        <label>PASSWORD</label>
        <input type="password" name="password" value=""/><br>
    
        <button type="submit">Sign-up</button>
       <a href="/user"> Log-in</a>
      </form>
</body>
</html>